:root{
	--mainColor:#252525;
	--secondaryColor:#000100;

	--borderColor:#161914;

	--mainText:#fff;
	--secondaryText:#eeeeee;

	--themeDotBorder:#FFF;

	--previewBg:rgb(0, 1, 0, 0.8);
	--previewShadow:#252525;


	--buttonColor:#000000;


}
