

/* UTILITIES */

.container1 {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container1 > * {
  width: 100%;
}

.load {
  position: absolute;
  top: 40%;
  transform: translate(-50%, -50%);
}












