

/* UTILITIES */

.container1 {
  display: flex;
  width: 100vw;
  justify-content: center;
  align-items: center;
  max-width: 80rem;
  margin: 0 auto;
  padding: 2rem;
}

.container1 > * {
  width: 100%;
}












