@import url("https://fonts.googleapis.com/css2?family=Lato&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Lato:wght@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  background-color: rgba(97, 49, 116, 0.61);
  text-align: center;
}

h2 {
  margin-bottom: 10px;
}

.header {
  text-align: center;
  position: relative;
  margin: 50px auto;
}
h2 {
  font-family: "Lato", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 20px;
  text-align: center;
  margin: 0 20px;
  text-transform: uppercase;
}
span {
  display: inline-block;
  position: absolute;
  background: rgb(0, 247, 255);
  height: 3px;
  left: 50%;
}
span.top {
  width: 70px;
  top: 20px;
}
span.bottom {
  width: 120px;
  top: 35px;
}
span.left {
  transform: translateX(-200px);
}
span.bottom.left {
  transform: translateX(-250px);
}
span.right {
  transform: translateX(130px);
}

.result {
  color: rgb(255, 255, 255);
  font-family: "Lato", sans-serif;
  font-size: large;
  margin-top: 10px;
}

.btn {
  margin-top: 10px;
  margin-bottom: 10px;
  padding: 7px;
  border: none;
  cursor: pointer;
	outline: inherit;
  border-radius: 18px;
  background-color: rgb(5, 228, 105);
  color: rgb(255, 255, 255);
  font-size: medium;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.glow {
  font-size: 15px;
  font-family: "Montserrat", sans-serif;
}

input {
  width: 80%;
  padding: 5px 14px;
  border: 2px solid #201f1d;
  border-radius: 2rem;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.897);
  outline: none;
  color: rgb(0, 0, 0);
  font-size: 14px;
}

input:focus {
  color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.4);
  background-color: rgb(60, 60, 60);
}

form {
  background-color: rgb(4, 255, 255);
  padding: 20px;
  color: #000;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.4);
}

form p {
  margin-bottom: 5px;
}

form p:nth-child(1) {
  margin-top: 0;
}

.panel {
  margin-top: 20px;
  float: none;
}

@media (min-width: 768px) {
  .panel {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
  }
}

@media (min-width: 1024px) {
  .panel {
    width: 30%;
    margin-left: auto;
    margin-right: auto;
  }
}
